<div class="ui secondary pointing tabular top attached borderless stackable menu new-menu navbar">
  <a class="{{if .PageIsExploreRepositories}}active{{end}} item" href="{{AppSubUrl}}/explore/repos">
    {{svg "octicon-repo"}} {{.i18n.Tr "explore.repos"}}
  </a>
  <a class="{{if .PageIsExploreUsers}}active{{end}} item" href="{{AppSubUrl}}/explore/users">
    {{svg "octicon-person"}} {{.i18n.Tr "explore.users"}}
  </a>
  <a class="item" href="{{AppSubUrl}}/task/create_ddl">
    {{svg " octicon-organization"}} DDL作成</a>
  <a class="item" href="{{AppSubUrl}}/task/delivery">
    {{svg "octicon-code"}} 納品予定
  </a>
</div>